/* Import */
/* Variables */
/*colors (DARK MODE)
@background: #4D5061;
@color-primary: #97DB4F;
@color-secondary: #049A8F;
@text-color : white;
@text-color-primary: white;
@color-light: white;
*/
/*colors (LIGHT MODE) 
*/
/* Base */
body {
  background: white;
  font-size: 16px;
  margin: 0px;
  letter-spacing: 0.5px;
  line-height: 1.4em;
  font-size: 1.03em;
  font-family: 'Arial', sans-serif;
  color: black;
}
p {
  font-weight: 300;
  margin: 0;
}
strong {
  font-weight: 600;
  color: #005f08;
}
i {
  color: #005f08;
}
h1 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #005f08;
  padding: 0px;
  margin: 10px;
  margin-bottom: 25px;
}
h2 {
  text-align: left;
  color: #005f08;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
h3 {
  color: #00195f;
  font-family: Arial, sans-serif;
  margin-bottom: 0%;
}
.first-h3 {
  margin-top: 3px;
}
.first-h2 {
  margin-top: 0px;
}
/* Timeline */
.timeline {
  border-left: 4px solid rgba(0, 95, 8, 0.7);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  /*background: fade(@color-light, 3%);
  color: fade(black, 80%);*/
  position: relative;
  margin: 15px auto;
  padding: 15px;
  list-style: none;
  text-align: left;
  width: 70%;
  margin-left: 100px;
}
.timeline h3 {
  margin-top: 0%;
}
.timeline .event {
  border-bottom: 1px solid rgba(0, 95, 8, 0.3);
  padding-bottom: 7.5px;
  margin-bottom: 15px;
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -101px;
  color: rgba(0, 0, 0, 0.4);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  width: 70px;
  font-family: 'Lato', sans-serif;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px #00195f;
  left: -19.5px;
  border-color: #00195f;
  background-color: #00195f;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  content: "";
  top: 8px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
div {
  margin: 0;
  padding: 0;
}
/* proficency bar*/
.progress-bar {
  position: relative;
  height: 5px;
  background-color: rgba(0, 95, 8, 0.1);
  border-radius: 5px;
}
.fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #005f08;
  border-radius: 5px;
}
.footer {
  background-color: #005f08;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 0px;
  margin-top: 10px;
  padding-right: 10%;
  padding-left: 10%;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer .slogo {
  fill: white;
  height: 24px;
  vertical-align: -7px;
}
.footer .linkedin {
  vertical-align: -5px;
}
.col1 {
  flex: 60%;
}
.col1 h2 {
  margin-left: 100px;
}
.col2 {
  border-left: solid;
  border-left-color: rgba(0, 95, 8, 0.3);
  padding-left: 10px;
  margin-right: 10px;
  flex: 40%;
}
/*  
* {
  outline: solid;
}
 */
