/* Debug */
/* Style modes */
/*colors (LIGHT MODE) */
/* Base */
body {
  background: #2C5530;
  margin: 0px;
  letter-spacing: 0.5px;
  line-height: 1.4em;
  font-size: 1.03em;
  font-family: Arial, sans-serif;
  color: black;
}
body a {
  color: #1B4079;
  text-decoration: underline;
}
body p {
  margin: 0;
}
body strong {
  font-weight: 600;
  color: #2C5530;
}
body i {
  color: #2C5530;
}
body h2 {
  color: #2C5530;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
body h3 {
  color: #1B4079;
  font-family: Arial, sans-serif;
  margin-bottom: 0%;
}
body .first-h2 {
  margin-top: 0px;
}
body .first-h3 {
  margin-top: 7.5px;
}
body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body div {
  margin: 0;
  padding: 0;
}
body .main-div-cont {
  background: white;
  margin: 0;
  padding-top: 15px;
  min-height: 84vh;
}
body .main-div {
  padding: 0;
  margin: 0;
  padding-bottom: 4vh;
  display: flex;
}
body .col1 {
  flex: 65%;
}
body .col1 h2 {
  margin-left: 100px;
}
body .col2 {
  border-left: solid;
  border-left-color: rgba(44, 85, 48, 0.3);
  padding-left: 10px;
  margin-right: 30px;
  flex: 35%;
}
/* Timeline */
.timeline {
  border-left: 4px solid rgba(44, 85, 48, 0.7);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  margin: 15px;
  margin-top: 7.5px;
  padding: 15px;
  list-style: none;
  text-align: left;
  margin-left: 100px;
}
.timeline h3 {
  margin-top: 0%;
}
.timeline .event {
  border-bottom: 1px solid rgba(44, 85, 48, 0.3);
  padding-bottom: 7.5px;
  margin-bottom: 15px;
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -104px;
  color: rgba(0, 0, 0, 0.5);
  content: attr(data-date);
  text-align: right;
  width: 70px;
  font-family: Lato, sans-serif;
}
.timeline .event:after {
  left: -24px;
  border-color: #1B4079;
  background-color: #1B4079;
  border-radius: 50%;
  border: none;
  height: 15px;
  width: 15px;
  content: "";
  top: 4px;
}
/* proficiency bar*/
.progress-bar {
  position: relative;
  height: 5px;
  background-color: rgba(44, 85, 48, 0.1);
  border-radius: 5px;
}
.fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #2C5530;
  border-radius: 5px;
}
/* Header */
.headr {
  background-color: #2C5530;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 15vh;
  padding-right: 15px;
  padding-left: 15px;
  align-items: center;
}
.headr * {
  color: white;
}
.headr .img-and-title {
  height: 100%;
  display: flex;
}
.headr .img-and-title .image-container {
  height: 15vh;
  overflow: hidden;
  margin: 0;
  margin-right: 15px;
  padding: 0;
}
.headr .img-and-title .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.headr .img-and-title .main_title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.headr .img-and-title .main_title h1 {
  margin: 0;
  padding: 0;
}
.headr .img-and-title .main_title h3 {
  color: rgba(255, 255, 255, 0.7);
}
.headr .infos-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.headr .infos-div .icon-header {
  padding: 0;
  vertical-align: middle;
  height: 25px;
  width: 25px;
  fill: white;
}
.headr .infos-div .nf {
  fill: none;
  stroke: white;
  stroke-width: 2px;
  stroke-linecap: "round";
  stroke-linejoin: "round";
}
/* Footer */
footer {
  background-color: #2C5530;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0px;
  height: 3vh;
  margin-top: -3vh;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 10%;
  padding-left: 10%;
}
footer a {
  font-size: 1.03em;
  color: white;
  text-decoration: none;
}
footer .slogo {
  fill: white;
  height: 24px;
  vertical-align: -7px;
}
footer .linkedin {
  vertical-align: -5px;
}
/* Control */
.switches {
  display: flex;
  justify-content: space-between;
}
.switches .switch {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.switches .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switches .slider {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  /* Rounded sliders */
}
.switches .slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switches .slider.round {
  border-radius: 20px;
}
.switches .slider.round:before {
  border-radius: 50%;
}
.switches input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.switches .lang-link {
  align-content: center;
  text-decoration: none;
  font-size: 20px;
}
/* For Mobile Portrait View */
@media screen and (orientation: portrait) {
  .main-div {
    flex-direction: column;
  }
  .main-div .col2 {
    border-top: solid;
    border-top-color: rgba(44, 85, 48, 0.3);
    border-left: none;
    padding-left: 85px;
    padding-right: 85px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    padding-top: 15px;
  }
  footer {
    padding-left: 15px;
    padding-right: 15px;
  }
}
