/* Import */

/* Variables */

/*colors (DARK MODE)
*/
@background: #4D5061;
@color-primary: #97DB4F;
@color-secondary: #049A8F;
@text-color : white;
@color-light: white;
/*colors (LIGHT MODE) 
@background: white;
@color-primary: rgb(0, 95, 8);
@color-secondary: rgb(0, 25, 95);
@text-color : black;
@color-light: black;
*/


// fonts
@font-title: 'Lato', sans-serif;
@font-text: 'Arial', sans-serif;
// timeline
@spacing: 15px; 
@radius: 4px;
@date: 70px;
@dotborder: 4px;
@dot: 5px;
@line: 4px;

/* Base */

body {
  background: @background;
  font-size: 16px;
  margin:0px;
  // letter
  letter-spacing: 0.5px;   
  line-height: 1.4em;
  font-size: 1.03em;   
  font-family: @font-text;  
  color : @text-color;
}

p {
  font-weight: 300;
  margin: 0;
}

strong {
  font-weight: 600;
  color : @color-primary;
}

i {
  color : @color-primary;
}

h1 {
  font-family: @font-title;
   text-align: center;
   color: @color-primary; 
   padding: 0px;
   margin: 10px;
   margin-bottom: 25px;
 }
 
 h2 {
   text-align: left;
   color: @color-primary;
   margin-bottom: 0%; 
   padding-bottom: 0%; 
 }

 h3 {
   color: @color-secondary;
   font-family: Arial, sans-serif;
   margin-bottom: 0%;
 }

.first-h3 {
  margin-top: 3px;
}
.first-h2 {
  margin-top: 0px;
}

/* Timeline */
.timeline {
  border-left: @line solid fade(@color-primary, 70%);
  border-bottom-right-radius: @radius;
  border-top-right-radius: @radius;    
  /*background: fade(@color-light, 3%);
  color: fade(black, 80%);*/
  position: relative;
  margin: @spacing auto;  
  padding: @spacing;   
  list-style: none;
  text-align: left;  
  width: 70%; 
  margin-left: @date + 2*@spacing; // space for the date
  

  h3 {
    margin-top: 0%; // removes big space at the top
  }

  .event {
    border-bottom: 1px solid fade(@color-primary, 30%); //separator
    padding-bottom: (@spacing * 0.5);
    margin-bottom: @spacing;  
    position: relative;

    &:last-of-type { 
      padding-bottom: 0;
      margin-bottom: 0; 
      border: none;      
    }

    &:before, &:after {
      position: absolute;
      display: block;
      top: 0;
    }

    &:before {
      left: ((((@date * 0.6) + @spacing + @line + @dot + (@dotborder * 2)) * 1.5) * -1 )+10;    
      color: fade(@color-light, 40%);    
      content: attr(data-date);
      text-align: right;
      font-weight: 100;    
      font-size: 0.9em;
      width: @date;
      font-family: @font-title;
    }

    &:after {
      box-shadow: 0 0 0 @dotborder fade(@color-secondary,100%);    
      left: (@spacing + @line + (@dot * 0.1)) * -1;        
      border-color: @color-secondary;    
      background-color: @color-secondary;    
      border-radius: 50%;  
      height: @dot;
      width: @dot;
      content: "";
      top: 8px;
    }
  }
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}

/* proficency bar*/
.progress-bar {
  position: relative;
  height: 5px;
  background-color: fade(@color-primary,10%);
  border-radius: 5px;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: @color-primary;
  border-radius: 5px;
}





.footer {
  //border-top: solid;
  background-color: @color-primary;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin:0px;
  margin-top: 10px;
  padding-right: 10%;
  padding-left: 10%;
  a {
    color: @background;
    text-decoration: none;//remove underline
  }
  .slogo {
    fill: @background;
    height: 24px;
    vertical-align: -7px;
  }
  
  .linkedin {
    vertical-align: -5px;
  }
}



.col1 {
  flex: 60%;
  
  h2 {
    margin-left: @date+2*@spacing; // aligning w time line
  }
}
.col2 {
  border-left: solid;
  border-left-color: fade(@color-primary, 30%);
  padding-left : 10px;
  margin-right : 10px;
  flex: 40%;  

}




/*  
* {
  outline: solid;
}
 */