/* Debug */
@debug: false;

* {
  & when (@debug = true) {
    outline: solid;
  }
}

/* Style modes */
.define-colors();
.define-colors() when (@dark = true) {
  /*colors (DARK MODE)*/
  @background: #4D5061;
  @color-primary: #97DB4F;
  @color-secondary: #049A8F;
  @text-color : white;
  @color-light: white;
}
.define-colors() when (@dark = false) {
  /*colors (LIGHT MODE) */
  @background: white;
  @color-primary: #2C5530;//rgb(0, 95, 8);
  @color-secondary: #1B4079;//rgb(0, 25, 95);
  @text-color : black;
  @color-light: black;
}


// fonts
@font-title: 'Lato', sans-serif;
@font-text: 'Arial', sans-serif;
// timeline
@spacing: 15px; 
@radius: 4px;
@date: 70px;
@dotborder: 4px;
@dot: 5px;
@line: 4px;

/* Base */

body {
  background: @background;
  margin:0px;
  // letter
  letter-spacing: 0.5px;   
  line-height: 1.4em;
  font-size: 1.03em;   
  font-family: @font-text;  
  color : @text-color;
}

p {
  margin: 0;
}

strong {
  font-weight: 600;
  color : @color-primary;
}

i {
  color : @color-primary;
}

h1 {
  font-family: @font-title;
   text-align: center;
   color: @color-primary; 
   padding: 0px;
   margin: 10px;
   margin-bottom: 25px;
 }
 
 h2 {
   text-align: left;
   color: @color-primary;
   margin-bottom: 0%; 
   padding-bottom: 0%; 
 }

 h3 {
   color: @color-secondary;
   font-family: Arial, sans-serif;
   margin-bottom: 0%;
 }

.first-h3 {
  margin-top: @spacing*0.5;
}
.first-h2 {
  margin-top: 0px;
}

/* Timeline */
.timeline {
  border-left: @line solid fade(@color-primary, 70%);
  border-bottom-right-radius: @radius;
  border-top-right-radius: @radius;    
  /*background: fade(@color-light, 3%);
  color: fade(black, 80%);*/
  position: relative;
  margin: @spacing auto;  
  padding: @spacing;   
  list-style: none;
  text-align: left;  
  width: 70%; 
  margin-left: @date + 2*@spacing; // space for the date
  

  h3 {
    margin-top: 0%; // removes big space at the top
  }

  .event {
    border-bottom: 1px solid fade(@color-primary, 30%); //separator
    padding-bottom: (@spacing * 0.5);
    margin-bottom: @spacing;  
    position: relative;

    &:last-of-type { 
      padding-bottom: 0;
      margin-bottom: 0; 
      border: none;      
    }

    &:before, &:after {
      position: absolute;
      display: block;
      top: 0;
    }

    &:before {
      left: ((((@date * 0.6) + @spacing + @line + @dot + (@dotborder * 2)) * 1.5) * -1 )+10;    
      color: fade(@color-light, 40%);    
      content: attr(data-date);
      text-align: right;
      
      width: @date;
      font-family: @font-title;
    }

    &:after {
      box-shadow: 0 0 0 @dotborder fade(@color-secondary,100%);    
      left: (@spacing + @line + (@dot * 0.1)) * -1;        
      border-color: @color-secondary;    
      background-color: @color-secondary;    
      border-radius: 50%;  
      height: @dot;
      width: @dot;
      content: "";
      top: 8px;
    }
  }
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}

/* proficency bar*/
.progress-bar {
  position: relative;
  height: 5px;
  background-color: fade(@color-primary,10%);
  border-radius: 5px;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: @color-primary;
  border-radius: 5px;
}




@footer-height : 3vh;
@logo-height : 2.5vh;
footer {
  //border-top: solid;
  background-color: @color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin:0px;
  height: @footer-height;
  margin-top: -@footer-height;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 10%;
  padding-left: 10%;
  a {
    font-size: 1.03em;
    color: @background;
    text-decoration: none;//remove underline
  }
  .slogo {
    fill: @background;
    height: 24px;
    vertical-align: -7px;
  }
  
  .linkedin {
    vertical-align: -5px;
  }
}

.main-div-cont {
  min-height: 90vh;
}
.main-div {
  padding: 0;
  margin: 0;
  padding-bottom: @footer-height + 1vh;
  display: flex;
}

.col1 {
  flex: 60%;
  
  h2 {
    margin-left: @date+2*@spacing; // aligning w time line
  }
}
.col2 {
  border-left: solid;
  border-left-color: fade(@color-primary, 30%);
  padding-left : 10px;
  margin-right: 2*@spacing;
  flex: 40%;  
}


@switch-width:60px;
@switch-height:34px;
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: @switch-width;
  height: @switch-height;
  margin: @spacing;
  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}


/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: @color-primary;
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: @background;
    -webkit-transition: .4s;
    transition: .4s;
  }
  

  /* Rounded sliders */
  &.round {
    border-radius: 34px;
    &:before {
      border-radius: 50%;
    }
  }
  
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.theme-status {
  font-style: italic;
  vertical-align: middle;
  padding-top: 20%;
}


.lang-link {
  margin: @spacing;
  text-align: end;
  text-decoration: none;
  font-size: 20px;
  //margin: @spacing+5px;
}

.headr {
  //border-top: solid;
  display: flex;
  justify-content: space-between;
  position: relative;
  //height: @spacing + @switch-height*2;
  height: 10vh;

  align-items: center;
  h1 {
    //margin: @spacing+5px;
    padding: 0%;
  }
}

  /* For Mobile Portrait View */
@media screen
  and (orientation: portrait){
    .main-div {
      display: block;
    }
    .col2 {
      border-left: 0px;
      padding-left: @date+@spacing;
      padding-right: @date+@spacing;
      margin-left : @spacing;
      margin-right : @spacing;

      margin-top: @spacing;
      border-top: solid;
      border-top-color: fade(@color-primary, 30%);
      padding-top : @spacing;
    }
  footer {
    padding-left: @spacing;
    padding-right: @spacing;
  }

}
 
